@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

:root {
  --grid-bgcolor: #171820;
  --node-bgcolor: #f9ffd7;
  --node-border-color: #fdc029;
  /*--node-border-color: #aa3d01;*/
}

* {
  font-family: 'Oxanium', cursive;
}

body {
  background-color: var(--grid-bgcolor);
}

.synth-node {
  background-color: var(--node-bgcolor);
  border: 3px solid var(--node-border-color);
}

.connector-canvas {
  pointer-events: none;
}
